
*.iml
.DS_Store
.externalNativeBuild
.gradle
.idea/appInsightsSettings.xml
.idea/caches
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/libraries
.idea/migrations.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
/build
/captures
/local.properties
.idea/deploymentTargetSelector.xml
.idea/AndroidProjectSystem.xml
.idea/copilotDiffState.xml
.idea/inspectionProfiles/Project_Default.xml
/.kotlin/sessions
