
*.iml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/gradle.xml


.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/other.xml
.idea/kotlinc.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/migrations.xml
